main{
    display: flex;
    justify-content: space-evenly;
}
.inputtext,textarea,.inputemail  {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .inputsubmit {
    width: 500px;
    background-color: #52ab6e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .inputsubmit:hover {
  background-color: #45a049;
}
form{
    margin-left: 40px;
    margin-top: 10px;
    margin-left: 10px;

}
Iframe{
  margin-top: 20px;
}
.inner {
  margin-top: 5px;
  width: 300px;
  height: 120px;
  background-color: #f0f0f0;
}
.sinner{
  font-weight: bold;
  margin-left: 25px;
 
}
.svinner{
  padding-left: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.Ncontact{
  margin-top: 5px;
  width: 300px;
  height: 120px;
  background-color: #f0f0f0;

}
.sNcontact{
  font-weight: bold;
  margin-left: 25px;
}
.svNcontact{
  padding-left: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.outer{
  display: flex;
  justify-content: space-around;
}
.tele{
  color: #45a049;
  width: 50px;
  height: 25px;
  text-decoration: underline;
}
.b-Email{
  width: 50px;
  height: 30px;
  color: #45a049;
}



  
