.image {
    display: flex;
    align-items: center;
    position: relative;
}

.slide {
    margin-left: -8px;
    margin-top: -15px;
    margin-right: px;
    width: 98.5vw;
    height: 85vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.description-container {
    position: absolute;
    bottom: 20px;
    background-color: #00000075;
    padding: 10px 30px 40px 20px;
    margin-bottom: -20px;
    
    z-index: 2;
    color: #fff;
}

.description {
    font-size: 20px;
    margin-bottom: 10px;
}

.button {
    background-color: #fff;

    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: #ccc;
}